{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}

{% block bodycontent %}
<h1 style ="text-align:center;margin-top:1%">Welcome to Quiz Master App</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"><b>{{ message }}</b>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    {% endfor %}

  {% endif %}
{% endwith %}

<div class="container-sm" style="width:25%; border:2px solid grey; border-radius:10px; padding:1% 3%;margin-top:5%">
      

    <h1 style="text-align:center;margin-bottom:5%">Login</h1>
    <form action="{{url_for('login')}}" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
  
    <div style="text-align:center"><button type="submit" class="btn btn-primary">LOGIN</button> {{msg}}</div><br>
      <div style="text-align:center"><a href="{{url_for('register')}}">New User? Register</a></div>
    </form>
  </div>
  
</div>
{% endblock %}